<!DOCTYPE html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
    }
    </style>

</head>
<body>
    <h1>Informatii baza de date</h1>
    <br>
    <br>
    <h3>{{ db_name }}</h3>
    {% if resp %}
    <table>
        <tr>
        {% for col in columns %}
            <th>{{ col }}</th>
        {% endfor %}
        </tr>
    {% for row in resp %}
        <tr>
        {% for attribute in row %}
            <td>{{ attribute }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    {% else %}
        <p>Tabelul este gol.</p>
    {% endif %}
</body>