<!DOCTYPE html>
<head>
    <style>
    button {
      border: none;
      background-color: mediumblue;
      color: rgb(255, 255, 255);
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    li{
        list-style-type: none;
    }

    </style>
    </head>
<body>
    <h1>
        Tabele din baza de date.
    </h1>
    <br>
    {% if db_names %}
    <h3>
        Apasa pe un tabel pentru interogare.
    </h3>
    <ul>
    {% for db in db_names %}
        <li><a href="{% url 'db' db %}">
        <button class='button' type='button' >{{ db }}</button>
        </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nu este disponibila nicio baza de data.</p>
{% endif %}
    <h3>Pentru comenzi, foloseste campul de mai jos.</h3>
    <form action="db/query" method="post">
        {% csrf_token %}
        <label for="query">Cerere</label>
        <input type="text" name="query_text" placeholder="Query">
        <input type="submit" value="Submit">
    </form>
</body>